<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" action="/addsong">
        <h2>Add Song</h2>

        <label for="">Song Name : </label>
        <input type="text" name="songName" >
        <br>
        <label for="">film Name : </label>
        <input type="text" name="film" >
        <br>

        <label for="">musicDirector : </label>
        <input type="text" name="musicDirector" >
        <br>

        <label for="">singer  : </label>
        <input type="text" name="singer" >
        <br>

        <input type="submit" value="Save" class="btn" />
    </form>
    
</body>
</html>